<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="BP.springCloud.dao.GenerFlowDao">
	<resultMap id="BaseResultMap" type="GenerFlow">
		<id column="No" property="no" jdbcType="BIGINT" />
		<result column="work_id" property="workId" jdbcType="BIGINT" />
		<result column="work_group_id" property="workGroupId" jdbcType="BIGINT" />
		<result column="parent_work_id" property="parentWorkId" jdbcType="BIGINT" />
		<result column="status" property="status" jdbcType="TINYINT" />
		<result column="flow_id" property="flowId" jdbcType="INTEGER" />
		<result column="use_time" property="useTime" jdbcType="INTEGER" />
		<result column="total_time" property="totalTime" jdbcType="INTEGER" />
		<result column="activated_nodes" property="activatedNodes" jdbcType="VARCHAR" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="finishTime" property="finishTime" jdbcType="TIMESTAMP" />
		<result column="yn" property="yn" jdbcType="TINYINT" />
	</resultMap>
	
	<sql id="Base_Column_List">
		<trim prefix="" suffix="" suffixOverrides=",">
		No,
		work_id,
		work_group_id,
		parent_work_id,
		status,
		flow_id,
		use_time,
		total_time,
		activated_nodes,
		creator,
		createTime,
		finishTime,
		yn,
		</trim>
	</sql>
	
	<!-- 根据Id查询 -->
	<select id="getGenerFlowById" resultMap="BaseResultMap" parameterType="Long">
		select
		<include refid="Base_Column_List" />
		from k_gener_flow
		where No = #{no,jdbcType=BIGINT}
	</select>
	
	<!-- 根据条件查询列表 -->
	<select id="findGenerFlowList" resultMap="BaseResultMap" parameterType="GenerFlow">
		select
		<include refid="Base_Column_List" />
		from k_gener_flow
		<where>   
		 	1=1
			<trim >
				<if test="no != null">
					AND No = #{no,jdbcType=BIGINT}
				</if>
				<if test="workId != null">
					AND work_id = #{workId,jdbcType=BIGINT}
				</if>
				<if test="workGroupId != null">
					AND work_group_id = #{workGroupId,jdbcType=BIGINT}
				</if>
				<if test="parentWorkId != null">
					AND parent_work_id = #{parentWorkId,jdbcType=BIGINT}
				</if>
				<if test="status != 0">
					AND status = #{status,jdbcType=TINYINT}
				</if>
				<if test="flowId != 0">
					AND flow_id = #{flowId,jdbcType=INTEGER}
				</if>
				<if test="useTime != 0">
					AND use_time = #{useTime,jdbcType=INTEGER}
				</if>
				<if test="totalTime != 0">
					AND total_time = #{totalTime,jdbcType=INTEGER}
				</if>
				<if test="activatedNodes != null and activatedNodes !=''">
					AND activated_nodes = #{activatedNodes,jdbcType=VARCHAR}
				</if>
				<if test="creator != null and creator !=''">
					AND creator = #{creator,jdbcType=VARCHAR}
				</if>
				<if test="createTime != null">
					AND createTime = #{createTime,jdbcType=TIMESTAMP}
				</if>
				<if test="finishTime != null">
					AND finishTime = #{finishTime,jdbcType=TIMESTAMP}
				</if>
				<if test="yn != 2">
					AND yn = #{yn,jdbcType=TINYINT}
				</if>
			</trim>
		</where>
	</select>
	<!-- 插入实体 -->
	<insert id="insertGenerFlow" parameterType="GenerFlow" useGeneratedKeys="true" keyProperty="no">
		insert into k_gener_flow 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		No,
		work_id,
		work_group_id,
		parent_work_id,
		status,
		flow_id,
		use_time,
		total_time,
		activated_nodes,
		creator,
		createTime,
		finishTime,
		yn,
		</trim>
		values 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		#{no,jdbcType=BIGINT}, 
		#{workId,jdbcType=BIGINT},
		#{workGroupId,jdbcType=BIGINT},
		#{parentWorkId,jdbcType=BIGINT},
		#{status,jdbcType=TINYINT},
		#{flowId,jdbcType=INTEGER},
		#{useTime,jdbcType=INTEGER},
		#{totalTime,jdbcType=INTEGER},
		#{activatedNodes,jdbcType=VARCHAR},
		#{creator,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, 
		#{finishTime,jdbcType=TIMESTAMP}, 
		#{yn,jdbcType=TINYINT}, 
		</trim>
	</insert>
		<!-- 修改实体 -->
	<update id="updateGenerFlow" parameterType="GenerFlow">
		update k_gener_flow
		<set>
			<trim prefix="" suffix="" suffixOverrides=",">
	        <if test="workId != null">
					work_id = #{workId,jdbcType=BIGINT},
	      		</if>
			<if test="workGroupId != null">
				work_group_id = #{workGroupId,jdbcType=BIGINT},
			</if>
			<if test="parentWorkId != null">
				parent_work_id = #{parentWorkId,jdbcType=BIGINT},
			</if>
			<if test="status != 0">
					status = #{status,jdbcType=TINYINT},
	      		</if>
			<if test="flowId != 0">
					flow_id = #{flowId,jdbcType=INTEGER},
	      		</if>
			<if test="useTime != 0">
					use_time = #{useTime,jdbcType=INTEGER},
				</if>
			<if test="totalTime != 0">
					total_time = #{totalTime,jdbcType=INTEGER},
				</if>
			<if test="activatedNodes != null">
					activated_nodes = #{activatedNodes,jdbcType=VARCHAR},
				</if>
	        <if test="creator != null">
					creator = #{creator,jdbcType=VARCHAR},
	      		</if>
	        <if test="createTime != null">
					createTime = #{createTime,jdbcType=TIMESTAMP},
	      		</if>
	        <if test="finishTime != null">
					finishTime = #{finishTime,jdbcType=TIMESTAMP},
	      		</if>
			<if test="yn != 0">
					yn = #{yn,jdbcType=TINYINT},
	      		</if>
			</trim>
		</set>
		where No = #{no,jdbcType=BIGINT}
	</update>
	<!-- 删除实体 -->
	<update id="deleteGenerFlow" parameterType="Long">
		update k_gener_flow
		<set>
			yn=1
		</set>
		where No = #{no,jdbcType=BIGINT}
	</update>
</mapper>