<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="WF.Nlp.dao.ProjectNodeDao">
	<resultMap id="BaseResultMap" type="BP.springCloud.entity.ProjectNode">
		<id column="No" property="No" jdbcType="INTEGER" />
		<result column="tree_node_name" property="treeNodeName" jdbcType="VARCHAR" />
		<result column="project_no" property="projectNo" jdbcType="INTEGER" />
		<result column="before_tree_node" property="beforeTreeNode" jdbcType="INTEGER" />
		<result column="flow_no" property="flowNo" jdbcType="INTEGER" />
		<result column="flow_node_no" property="flowNodeNo" jdbcType="INTEGER" />
		<result column="node_level" property="nodeLevel" jdbcType="INTEGER" />
	</resultMap>
	
	<sql id="Base_Column_List">
		<trim prefix="" suffix="" suffixOverrides=",">
		No,
		tree_node_name,
		project_no,
		before_tree_node,
		flow_no,
		flow_node_no,
		node_level,
		</trim>
	</sql>
	
	<!-- 根据Id查询 -->
	<select id="getProjectNode" resultMap="BaseResultMap" parameterType="int">
		select
		<include refid="Base_Column_List" />
		from k_project_node
		where No = #{No,jdbcType=INTEGER}
	</select>
	
	<!-- 根据条件查询列表 -->
	<select id="findProjectNodeList" resultMap="BaseResultMap" parameterType="ProjectNode">
		select
		<include refid="Base_Column_List" />
		from k_project_node
		<where>   
		 is_delete=0
		</where>
	</select>
	<!-- 插入实体 -->
	<insert id="insertProjectNode" parameterType="ProjectNode" useGeneratedKeys="true" keyProperty="No">
		insert into k_project_node 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		No,
		tree_node_name,
		project_no,
		before_tree_node,
		flow_no,
		flow_node_no,
		node_level,
		</trim>
		values 
		<trim prefix="(" suffix=")" suffixOverrides=",">
		#{No,jdbcType=INTEGER}, 
		#{treeNodeName,jdbcType=VARCHAR}, 
		#{projectNo,jdbcType=INTEGER}, 
		#{beforeTreeNode,jdbcType=INTEGER}, 
		#{flowNo,jdbcType=INTEGER}, 
		#{flowNodeNo,jdbcType=INTEGER}, 
		#{nodeLevel,jdbcType=INTEGER}, 
		</trim>
	</insert>
		<!-- 修改实体 -->
	<update id="updateProjectNode" parameterType="ProjectNode">
		update k_project_node
		<set>
			<trim prefix="" suffix="" suffixOverrides=",">
			<if test="No != 0">
					No = #{No,jdbcType=INTEGER},
	      		</if>
	        <if test="treeNodeName != null">
					tree_node_name = #{treeNodeName,jdbcType=VARCHAR},
	      		</if>
			<if test="projectNo != 0">
					project_no = #{projectNo,jdbcType=INTEGER},
	      		</if>
			<if test="beforeTreeNode != 0">
					before_tree_node = #{beforeTreeNode,jdbcType=INTEGER},
	      		</if>
			<if test="flowNo != 0">
					flow_no = #{flowNo,jdbcType=INTEGER},
	      		</if>
			<if test="flowNodeNo != 0">
					flow_node_no = #{flowNodeNo,jdbcType=INTEGER},
	      		</if>
			<if test="nodeLevel != 0">
					node_level = #{nodeLevel,jdbcType=INTEGER},
	      		</if>
			</trim>
		</set>
		where No = #{No,jdbcType=INTEGER}
	</update>
	<!-- 删除实体 -->
	<update id="deleteProjectNode" parameterType="int">
		update k_project_node
		<set>
			is_delete=1
		</set>
		where No = #{No,jdbcType=INTEGER}
	</update>
</mapper>